@model PrestonClub.Models.RunnerStatu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RunnerStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RunningStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RunningStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinishedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinishedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDetail.first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDetail.first_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
